.containerSideBar {
  width: 10%;
  height: 100vh;
  // display: flex;

  .sidebar {
    width: 230px;
    height: 100vh;
    background-color: #002b5e;
    color: white;
    padding-top: 20px;
  }
}
