.titleActivity {
  font-size: 1.8em;
  text-align: center;
  font-weight: bold;
  color: #002b5e;
  background-color: #d9d9d9;
  margin-bottom: 30px;
  padding: 7px 0;
}
.userActivity {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.totalUserActivity {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0;

  // border: 2px solid red;

  .sportActivity {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    flex-direction: row;
    justify-content: space-evenly;

    // border: 2px solid green;
  }
}
