.containerNavigation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 40px auto 0;
  flex-wrap: wrap;
  a {
    text-decoration: none;
    color: #002b5e;
    font-size: 1.3em;
    font-weight: bold;
    display: flex;
  }
}
